<div class="modal fade" id="modifyFile" tabindex="-1" role="dialog" aria-labelledby="newRule" aria-hidden="true">
    <div class="modal-dialog modal-lg mw-75" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modifyFileTitle" class="modal-title">编辑文件</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <input id="modifyFileUsedName" type="hidden"></input>
                    <label for="modifyFileName" class="mb-0">文件名</label>
                    <input id="modifyFileName" type="text" class="form-control" placeholder=""></input>
                    <label for="modifyFileEditor" class="mb-0 mt-2">内容</label>
                    <div id="modifyFileEditor" class="form-control h-35rem"></div>        
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnmodifyFile" type="button" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>