<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">管理面板</li>
        <li class="breadcrumb-item active"><a href="#" data-toggle="modal" data-target="#newRule">新建规则</a></li>
        <li class="breadcrumb-item active"><label class="fileLabel" for="fileInput">上传文件</label></li>
        <li class="breadcrumb-item active"><a id="btnAddFile" href="#">添加文件</a></li>
        <li class="breadcrumb-item active"><a id="btnGetRules" href="#">规则列表</a></li>
        <li class="breadcrumb-item active"><a id="btnGetFiles" href="#">文件列表</a></li>
        <li class="breadcrumb-item active"><a id="btnGetLogs" href="#">访问记录</a></li>
        <li class="breadcrumb-item active"><a href="{{ config['URL_PREFIX'] }}/admin/logout">登出</a></li>
    </ol>
</nav>
<input type="file" id="fileInput" class="hidden">